<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="header">
          <a href="#default" class="logo"><font size="7" color="white">baabtra.com</font><br</a>
          <div class="header-right">
            <a class="active" [routerLink]="'Home'"><font color="white">Home</font></a>
            
            <a [routerLink]="'About'"><font color="white">About</font></a>
            <a [routerLink]="'Contactus'"><font color="white">Contact Us</font></a>
            <a [routerLink]="'Login'"><font color="white">Login</font></a>
            <a [routerLink]="'Signup'"><font color="white">Sign Up</font></a>
          </div>
        </div>
      </div>
</body>
</html>