<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="header">
          <a><font size="7" color="white" face="times new roman">StayTheWay</font><br></a>
          <div class="header-right">
            <a class="active" [routerLink]="'home'"><font color="white">Home</font></a>
            
            <a [routerLink]="''"><font color="white">About</font></a>
            <a [routerLink]="''"><font color="white">Contact Us</font></a>
            <a [routerLink]="''"><font color="white">Login</font></a>
            <a [routerLink]="''"><font color="white">Sign Up</font></a>
          </div>
        </div>
      </div>
    
        <div class="col-md-10">
          <div>
            <router-outlet></router-outlet>
          </div>
        </div>
        </div>
      

      <h1 style="background-color:darksalmon ;">Featured resort destinations</h1>
      <h3>Destination inspiration for your trip - find a resort</h3>
      <div class="row" align="center">
     
        <div class="column3">
          <div class="card">
            <a href="">
           <br>
              <img src="../../assets/images/f1.jpg" alt="" width="200px" height="300px">
              <h2>Munnar</h2>
       
              
          </a>
          </div>
        </div>

        <div class="column3">
          <div class="card">
            <a href="">
        <br>
              <img src="../../assets/images/f2.jpg" alt="" width="200px" height="300px">
              <h2>Cochin</h2>
             
              
            </a>
          </div>
        </div>

        <div class="column3">
          <div class="card">
            <a href="">
      <br>
              <img src="../../assets/images/f3.jpg" alt="" width="200px" height="300px">
              <h2>Trivandrum</h2>
             
              
            </a>
          </div>
        </div>

        <div class="column3">
          <div class="card">
            <a href="">
         <br>
              <img src="../../assets/images/f4.jpg" alt="" width="200px" height="300px">
              <h2>Alleppey</h2>
             
              
          </a>
          </div>
        </div>

        <div class="column3">
          <div class="card">
            <a href="">
          <br>
              <img src="../../assets/images/f5.jpg" alt="" width="200px" height="300px">
              <h2>Kozhikode</h2>
             
              
           </a>
          </div>
        </div>

        </div>
        <br>
        <div class="container1">
        <h1><font face="times new roman">The 6 Best Kerala Resorts - All Inclusive Resorts in Kerala, India</font> </h1>
      <a href=""><div class="column1">
          <div class="card1">
            
         
             
              <h3>Pleasent Hill Resort <img src="../../assets/images/s1.jpg" alt=""></h3>
             <h3><img src="../../assets/images/s2.jpg" alt=""> Munnar</h3>
             <img src="../../assets/images/d1.jpg" alt="" width="200px" height="100px">
             
             <p>Located in Munnar, 32 km from Munnar Tea Museum, Pleasant Hill Resort provides accommodation with a restaurant, free private parking, free bikes and an outdoor swimming pool.</p>
             <button class="button">check availability</button>
          </div>
        </div></a>
       <a href=""><div class="column1">
              <div class="card1">
            
         
             
              <h3>Lemon Dew Beach House  <img src="../../assets/images/s1.jpg" alt=""></h3>
             <h3><img src="../../assets/images/s2.jpg" alt=""> Alleppey</h3>
             <img src="../../assets/images/s3.jpg" alt="" width="200px" height="100px">
             <p>Set in Alleppey, within 500 metres of Alleppey Beach and 2.3 km of Thumpoly Beach, Lemon Dew Beach House offers accommodation with a garden and free WiFi throughout the property as well as free</p>
             
             <button class="button">check availability</button>
          </div>
        </div></a>
      

        <a href=""><div class="column1">
          <div class="card1">
            
         
             
              <h2>Rockholm at the Light House Beach</h2>
             <h3><img src="../../assets/images/s2.jpg" alt="">Kovalam</h3>
             <img src="../../assets/images/s4.jpg" alt="" width="200px" height="100px">
             <p>Set in Kovalam, 200 metres from Light House Beach, Rockholm at the Light House Beach offers accommodation with a restaurant, free private parking, an outdoor swimming pool and a garden.</p>
             
             <button class="button">check availability</button>
          </div>
        </div></a>

        <a href=""><div class="column1">
          <div class="card1">
            
         
             
              <h2>Kaivalyam Wellness Retreat</h2>
             <h3><img src="../../assets/images/s2.jpg" alt="">Munnar</h3>
             <img src="../../assets/images/s5.jpg" alt="" width="200px" height="100px">
             <p>Offering Ayurvedic Treatments yoga, meditation and nature-based wellness , Kaivalyam Wellness Retreat is set in midst of a spice plantation with valley view in Munnar.</p>
             
             <button class="button">check availability</button>
          </div>
        </div></a>

        <a href=""><div class="column1">
          <div class="card1">
            
         
             
              <h2>Lecandles Resort</h2>
             <h3><img src="../../assets/images/s2.jpg" alt="">Kozhikode</h3>
             <img src="../../assets/images/s6.jpg" alt="" width="200px" height="100px">
             <p>Located in East Malayamma - Kattangal, Calicut, Le Candles Resorts features a restaurant, free outdoor swimming pool, kids park, garden, WiFi and parking facility.</p>
             
             <button class="button">check availability</button>
          </div>
        </div></a>

        <a href=""><div class="column1">
          <div class="card1">
            
         
             
              <h2>Emerald Hills Club</h2>
             <h3><img src="../../assets/images/s2.jpg" alt="">Cochin</h3>
             <img src="../../assets/images/s7.jpg" alt="" width="200px" height="100px">
             <p>The units in the resort are equipped with a kettle. Every room is equipped with a flat-screen TV, and certain units at Emerald Hills Club have a garden view. </p>
             
             <button class="button">check availability</button>
          </div>
        </div></a>
      </div>

      <!-- <footer>
    
        <div class="footer">
           
                <a href="#default" class="logo"><font size="7" color="black" >StayTheWay</font><br>
                
                </a>
                <div class="bottom">
                    <p><font color="blue">© 2022 staytheway, Inc. <a href="">Privacy</a>.<a href="">Terms</a></font></p>
                  </div>
            </div>
      </footer> -->
  
      <footer>
        <div class="row primary">
          <div class="column about">
        
          <h3>StayTheWay</h3>
        
           <p>
            Travellers who truly “get away from it all” trust resorts to provide the pinnacle of all-inclusive relaxation. Resort guests are invited to enjoy communal onsite amenities like pools, spas, restaurants, activities, excursions and shops, and stay the night in luxurious private rooms, villas or apartments.
          </p>
        
          <div class="social">
            <i class="fa-brands fa-facebook-square"></i>
            <i class="fa-brands fa-instagram-square"></i>
            <i class="fa-brands fa-twitter-square"></i>
            <i class="fa-brands fa-youtube-square"></i>
            <i class="fa-brands fa-whatsapp-square"></i>
          </div>
        </div>
     
        
        
        <div class="column links">
          <h3>Some Links</h3>
           <ul>
            <li>
             <a href="#faq">F.A.Q</a>
            </li>
            <li>
             <a href="#cookies-policy">Cookies Policy</a>
            </li>
            <li>
            <a href="#terms-of-services">Terms Of Service</a>
            </li>
            <li>
            <a href="#support">Support</a>
            </li>
          </ul>
        </div>
        
        <div class="column subscribe">
         <h3>Newsletter</h3>
          <div>
           <input type="email" placeholder="Your email id here" />
           <button>Subscribe</button>
          </div>
        
        </div>
        
        </div>
        
        
           <p>Copyright &copy; 2021 StayTheWay Developer</p>
   
        </footer>
    
    
    


                



  
      </div>
    </body>
    </html>