
 


      
     
        <footer>
            <div class="content">
              <div class="left box">
                <div class="upper">
                  <div class="topic">About us</div>
                  <p>Baabtra, the best software training company in Calicut has proved its expertise by training and placing several hundreds of students both in MNC’s like UST Global, Infosys, Oracle etc and SME’s like Nucore Software Solutions, Sesame, IOSS, ULTS.</p>
                </div>
                <div class="lower">
                  <div class="topic">Contact us</div>
                  <div class="phone">
                    <img src="../../assets/images/f1.jpg" alt="">
                    <a href="#"><i class="fas fa-phone-volume"></i>+007 9089 6767</a>
                  </div>
                  <div class="email">
                    <img src="../../assets/images/f2.jpg" alt="">
                    <a href="#">info@baabtra.com</a>
                  </div>
                  
                </div>
              </div>
              <div class="middle box">
                <div class="topic">Company</div>
                <div><a href="#">about us</a></div>
                <div><a href="#">placements</a></div>
                <div><a href="#">Testimonials</a></div>
                <div><a href="#">Gallery</a></div>
                <div><a href="#">Contact us</a></div>
                
              </div>
        
              <div class="middle box">
                <div class="topic">Courses</div>
                <div><a href="#">Python</a></div>
                <div><a href="#">Flutter</a></div>
                <div><a href="#">Angular</a></div>
                <div><a href="#">PHP</a></div>
                
                
              </div>
              
               
      
            </div>
            <div class="footer" style="background-color: antiquewhite;">
               
                    <a href="#default" class="logo"><font size="7" color="black" >baabtra.com</font><br>
                    <p><font color="black"> Mentoring partner</font></p>
                    
                    </a>
                    <div class="bottom">
                        <p><font color="blue"> Copyright reserved to Baabtra. Proudly Crafted by <span><font color="red"> Dataroots Tech.</font></span> </font></p>
                      </div>
                </div>
          </footer>
      

        
        
        


                    


 